.bg-hero-image {
    background-image: url(https://picsum.photos/1300/500);
    background-position: center center;
}


.custombutton {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
    text-decoration: none;
  }
  .custombutton:hover {
    background: #fff;
    color: #212529
  }
/*https://markodenic.com/tools/buttons-generator/*/