.navbar {
  background-color: #364f6c;
  color: white;


}

body { 
  background-color: #e0e0e0;
}

.customfooter {
  background-color: #364f6c;
  color: white;
}


.bg-hero-image {
    background-image: url(https://picsum.photos/1300/500);
    background-position: center center;
}

.custombutton {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #364f6c;
    color: #364f6c;
    text-decoration: none;
  }
  .custombutton:hover {
    color: #fff;
  }
  .custombutton:hover:after {
    height: 100%;
  }
  .custombutton:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #364f6c;
  }
/*https://markodenic.com/tools/buttons-generator/*/

.customborder {
  border: 2px solid #364f6c;
}


.card:hover {
  box-shadow: 15px 15px 15px #364f6c;
  border-color: #364f6c;
  animation: ease-in-out;
}

.card{
  transition: .3s;
}

.card:target {
  box-shadow: 15px 15px 15px #364f6c;
  border-color: #364f6c;
  animation: ease-in-out;
  opacity: 4;

}   